@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.timecap {
  width: 86px;
  height: 24px;
  font-size: 12px;

  > svg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.datetime {
}

.hours {
}

.mins {
}

.flash {
  animation: blink 1s infinite;
}

.tz {
}
