.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: rgba(21, 21, 21, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 52px;
  padding: 0 24px;
  font-size: 14px;
  border-bottom: 1px solid #202020;
}
